<% layout('layouts/boilerplate') -%>
  <link rel="stylesheet" href="/CSS/detail.css">

  <body>

    <div class="container">
      <h1>Listing Detail</h1>
      <div class="cardImg"><img src="<%=Data.image.url%>" alt="Card Image" class="card-img" /></div>
      <ul class="listing-info">
        <li><strong>Title:</strong>
          <%=Data.title %>
        </li>
        <li><strong>Description:</strong>
          <%=Data.description %>
        </li>
        <li><strong>Price:</strong>&#8377; <%=Data.price.toLocaleString("en-In") %>/month</li>
        <li><strong>Location:</strong>
          <%=Data.location %>
        </li>
        <li><strong>State:</strong>
          <%=Data.state %>
        </li>
        <li><strong>Owner:-</strong>
          <%=Data.user.username || Data.user.name%>
        </li>

      </ul>

      <% if(currentUser && currentUser._id.equals(Data.user._id)){ %>
        <div class="buttons">
          <a href="/listings/<%=Data._id%>/edit" class="btn edit-btn">Edit</a>
          <form method="post" action="/listings/<%= Data._id%>?_method=DELETE">
            <button class="btn edit-btn">Delete Listing</button>
          </form>
        </div>
        <% } %>

          <hr>

          <div class="review">
            <h3>ADD REVIEW</h3>
            <form action="/listings/<%= Data.id %>/reviews" method="Post">

                <fieldset class="starability-growRotate">
                   <legend><strong>Rating:</strong></legend>
                   <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                   <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                   <label for="first-rate1" title="Terrible">1 star</label>
                   <input type="radio" id="first-rate2"name="review[rating]" value="2" />
                   <label for="first-rate2" title="Not good">2 stars</label>
                   <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                   <label for="first-rate3" title="Average">3 stars</label>
                   <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                   <label for="first-rate4" title="Very good">4 stars</label>
                   <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                   <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>

              <div class="comment">
                <label style="font-weight: bold;" for="comment">Comment</label>
                <textarea class="textarea" name="review[comment]" cols="40" rows="5" required></textarea>
              </div>
              <button class="reviewbtn">Submit</button>
            </form>
            <hr>
            <h4>All Reviews:</h4>

            <div class="rebx">
              <% for(let review of Data.reviews){ %>
                <div class="rbx-box">
                  <h3 class="rbx-heading">
                    <%= review.owner.name || "Unknown User" %>
                  </h3>
                  <p class="rbx-description">
                    <%= review.comment %>
                  </p>
                  <div class="rbx-rating">

                      <p class="starability-result" data-rating=<%= review.rating %>></p>

                  </div>

        <% if(currentUser && currentUser._id.equals(review.owner._id)){ %>
                  <form method="Post" action="/listings/<%=Data.id%>/reviews/<%=review.id%>?_method=DELETE"><button
                      class="reviewbtn">Delete</button> </form>
        <% } %>


                </div>
                <% } %>
            </div>

          </div>
    </div>
  </body>


















































  <!-- TERI AANKHO KI JO BAAT HAI, VO LAFZON ME KAHA AATI HAI.
     INME CHHUPE HAIN RAAJ KAYI, JAISE CHAND KI PARCHHAAYI HAI,
     NAZRE JHUKI TO HAYA LAGE, UTHE TO QAYAMAT LAAYI HAI.          -->