<% layout('layouts/boilerplate') -%>
<body>
  <h1>Listing Detail</h1>
   <ul>
     <li><%=Data.title %></li>
     <li><%=Data.description %></li>
     <li>&#8377; <%=Data.price.toLocaleString("en-In") %></li>
     <li><%=Data.location %></li>
     <li><%=Data.state %></li>
   </ul>
    <button><a href="/listings/<%=Data._id%>/edit">Edit</a></button>
   </body>
   <form method="post" action="/listings/<%= Data._id%>?_method=DELETE">
    <button>Delete Listing</button>
   </form>
