<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Details</title>
</head>
<body>
  <h1>Listing Detail</h1>
   <ul>
     <li><%=Data.title %></li>
     <li><%=Data.description %></li>
     <li>&#8377; <%=Data.price.toLocaleString("en-In") %></li>
     <li><%=Data.location %></li>
     <li><%=Data.state %></li>
   </ul>
    <button><a href="/listings/<%=Data._id%>/edit">Edit</a></button>
   </body>
</html>