<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/CSS/detail.css">

<body>
 
  <div class="container">
    <h1>Listing Detail</h1>
    <div class="cardImg"><img src="<%=Data.image%>" alt="Card Image" class="card-img"/></div>
    <ul class="listing-info">
      <li><strong>Title:</strong><%=Data.title %></li>
      <li><strong>Description:</strong><%=Data.description %></li>
      <li><strong>Price:</strong>&#8377; <%=Data.price.toLocaleString("en-In") %>/month</li>
      <li><strong>Location:</strong><%=Data.location %></li>
      <li><strong>State:</strong><%=Data.state %></li>
    </ul>

    <div class="buttons">
      <a href="/listings/<%=Data._id%>/edit" class="btn edit-btn">Edit</a>
      <form method="post" action="/listings/<%= Data._id%>?_method=DELETE">
    <button  class="btn edit-btn">Delete Listing</button>
   </form>
    </div>

    <hr>

    <div class="review">
      <h3>ADD REVIEW</h3>
      <form action="/listings/<%= Data.id %>/reviews" method="Post" >
        <div>
          <label style="font-weight: bold;" for="rating">Rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]">
        </div>
        <div class="comment">
          <label style="font-weight: bold;" for="comment">Comment</label>
          <textarea class="textarea" name="review[comment]" cols="40" rows="5"></textarea>
        </div>
        <button id="reviewbtn">Submit</button>
      </form>
    </div>
  </div>
</body>


















































<!-- TERI AANKHO KI JO BAAT HAI, VO LAFZON ME KAHA AATI HAI.
     INME CHHUPE HAIN RAAJ KAYI, JAISE CHAND KI PARCHHAAYI HAI,
     NAZRE JHUKI TO HAYA LAGE, UTHE TO QAYAMAT LAAYI HAI.          -->