<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/CSS/listings.css">
<body>
<h1 style="margin-left:5rem; margin-top: 1rem; font-size: 3rem;">Find and book <br> student rentals</h1>
 <p style="margin-left:5rem; margin-top: 0.5rem;">Search for affordable rooms and guest houses in other cities.</p>

 <!-- Cards -->
<div class="card-container">
  <% allListings.forEach((list, index) => { %>
    <div class="card <%= index % 3 === 0 ? 'first-card' : '' %> <%= index % 3 === 2 ? 'last-card' : '' %>">
      <h2 class="card-title"><%= list.title %></h2>
      <img src="<%=list.image%>" alt="Card Image" class="card-img" />
      <p class="card-desc"><%= list.description %></p>
      <a href="/listings/<%=list._id%>"><button class="card-btn">Details</button></a>
    </div>
  <% }) %>
</div>

 

</body>
































<!-- DURIYAN JAB DIL SE NAAPI JAAE,
     TO FAASALE BHI APNA ASAR DIKHATE HAI.
     KARIB RAHKAR BHI JO NAA SAMAJH SAKE,
     VO APNE BHI GAIR SAMAJH AATE HAI. -->