<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/CSS/listings.css">


<body>

<h1 style="margin-left:5rem; margin-top: 1rem; font-size: 3rem;">Find and book <br> student rentals</h1>
 <p style="margin-left:5rem; margin-top: 0.5rem;">Search for affordable rooms and guest houses in other cities.</p>

 <!-- Cards -->
<div class="card-container">
  <% allListings.forEach((list, index) => { %>
      <div class="card">
      <h2 class="card-title"><%= list.title %></h2>
      <img src="<%=list.image%>" alt="Card Image" class="card-img" />
      <p class="card-desc">
        <strong>Price:</strong> ₹ 
        <%= (list.price && typeof list.price === 'number') 
        ? list.price.toLocaleString("en-IN") 
        : "N/A" %>/month
      </p>
      <p class="card-desc"><strong>Location:</strong><%=list.location %></p>
      <p class="card-desc"><strong>State:</strong><%=list.state %></p>
      <a href="/listings/<%=list._id%>"><button class="card-btn">Details</button></a>
    </div>
  <% }) %>
</div>

 
</body>
